opencv-python~=4.7.0.72
numpy~=1.24.3
torch~=2.5.1
ultralytics~=8.3.27
Pillow~=9.5.0
packaging~=23.1
# ^^Suitable for Windows11 running Python 3.11

#opencv-python~=4.10.0.84
#torch~=2.5.1
#ultralytics~=8.3.27
#numpy~=2.1.2
#pillow~=10.4.0
#packaging~=24.1
# ^^As used for development on Ubuntu 22.04 running Python 3.10
