ultralytics

# ultralytics==8.4.137, includes YOLO, as of October 2026.
# Included packages, as required for oystersize.py import:
# pytorch                    2.10.0
# numpy                      2.5.3
# opencv                     4.13.0

# It is recommended to make a fresh virtural environment with Anaconda or condamini
#  and simply install ultralytics, i.e.conda install ultralytics
#  The ultralytics package will install these requirements:
#  numpy, cv2, packaging, PIL, torch, plus other dependencies.
